<h1><%= @plan.name %></h1>

<%= form_for @plan do |f| %>  
  <%= f.fields_for :lesson_mappings do |builder| %>
    <%= render 'lesson_mapping_fields', f: builder, p: @plan %>
  <% end %>
  <%= link_to_add_fields "Add Lessons", f, :lesson_mappings %><br />
  <%= f.submit 'Submit' %>
<% end %>